/* styles.css */

/* Styling the body */
#Discover {
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    font-weight: normal;
    font-size: 50px;
    margin: 0;
    padding: 0;
}

#Download {
font-size: 16px;
background-color: aquamarine;
}

#video {

}
/* Styling headers */
h1 {
    color: #333;
}

/* Styling links */
a {
    text-decoration: none;
    color: #007bff;
}

/* Add more CSS rules to style your HTML elements */
